.mainContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

.miembrosTitle {
  padding-top: 40px;
  display: flex;
  flex-direction: ;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.members {
  display: flex;
  width: 100%;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid black;
}
.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #004274;
}

.member-role {
  font-style: italic;
  font-size: 18px;
  color: black;
  border-bottom: none;
}

.container span {
  border-bottom: none;
}
.container h3 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-bottom: 30px;
}
.ferEquipo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: bold;
}
.comisionDirectiva {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.vocalesTitulares {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

.vocalesSuplentes {
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.comisionCuentas {
  display: flex;
  justify-content: center;
  border-bottom: 3px dotted black;
  margin-bottom: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

.imgMembers img {
  width: 60px;
  height: 60px;
}
.imgContainer {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imgContainer img {
  width: 400px;
}

/* footer */

.footer {
  padding: 10px;
}
.derechos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.derechos p {
  margin-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.derechos i:hover {
  animation-name: animacion1;
  animation-duration: 1s;
}
.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.socialLinks i {
  color: black;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
.socialLinks i:hover {
  color: #e74f1d;
}

/* footer */

@keyframes animacion1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
/* fin del footer  */

.socialLinks i {
  color: black;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

.linea {
  height: 10px;
  background-image: linear-gradient(
    to right,
    #ffd400 1%,
    #ffd400 12.5%,
    #fdb813 12.5%,
    #fdb813 25%,
    #f36f21 25%,
    #f36f21 37.5%,
    #ed1c24 37.5%,
    #ed1c24 50%,
    #bc1a8d 50%,
    #bc1a8d 62.5%,
    #9b2583 62.5%,
    #9b2583 75%,
    #2d2b74 75%,
    #2d2b74 87.5%,
    #33c2df 87.5%,
    #33c2df 100%
  );
}

.heroTextDiv{
  margin-top: 400px !important;
}

.titleHeroText {
  font-weight: bold;
  font-size: 50px;
  color: black;
}

.imgHeroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgHero {
  border-radius: 30px;
  margin-bottom: 10px;
  width: 200px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.alianzaContainer {
  width: 80%;
  margin-top: 50px;
}
.titleAlianza {
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.subTitleAlianza {
  color: black;
  font-size: 30px;
  line-height: 1.8;
  font-weight: bold;
}

.descriptionAlianza {
}

.parrafoAlianza {
  color: black;
  line-height: 1.8;
}

.alianza {
  color: black;
  font-weight: bold;
}



.fixedWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 10px;
  height: auto;
}

.fixedWhatsapp img {
  width: 40px;
  height: auto;
}



.imgfixed { 
  text-align: center;
  background-image: linear-gradient(390deg, #ffffff2a, rgba(0, 0, 0, 0.812)),
    url("../img/2.png");
  width: auto;
  height: 80vh !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:center ;
  background-attachment: fixed;
  background-position: 70%;
}




@keyframes animacion1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
/* fin del footer  */

/* medias */


@media (max-width: 2800px) {
  .heroTextContainer {
    width: 70%;
    
  }
}

@media (max-width: 1750px){
  .imgfixed {
    background-position: 50%;
  }
}
@media (max-width: 1400px) {
  .imgfixed {
    background-position: 50%;
    height: 100vh;
  }
  .heroTextContainer {
    width: 70%;
    margin-top: 70px;
  }

}



@media (max-width: 900px) {
  .formacionFuncion {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .imgfixed {
    height: 100vh;
    background-position: 50%;
  }

  .counterSliderContainer {
    flex-direction: column;
  }
  .sliderTitle {
    width: 70%;
  }
  .sliderTitle h2 {
    font-size: 28px;
  }
  .ferimgcontacto{
    width: 500px;
  }
  .contactoContainer h2{
    font-size: 18px;
  }
  .contactoContainer p{
    font-size: 10px;
  }
  .tareaLegis{
    color: black;
    margin-top: 10px;
    font-weight: bold;
    width: 80%;
    font-size: 20px;
  }
  .proyectosTitle{
    font-size: 10px;
  }
  .imgHero{
    width: 150px;
    margin-left: 40px;
  }
  .imgHero2{
    width: 150px;
    margin-left: 40px;
  }

}


@media (max-width: 600px) {

.counter{
  font-size: 40px;
}
  
.sliderTitle .proyectosTitle {
font-size: 20px;
}

  .proyectosTitle{
    width: 90;
    font-size: 10px;
  }

  .sliderTitle p {
    font-size: 14px;
  }
    .divSlider p{
  font-size: 18px;
  }

  .containerDivSlider{
    display: flex;
    flex-direction: column;
  }
  .tareaLegis{
    color: black;
    margin-top: 10px;
    font-weight: bold;
    width: 90%;
    font-size: 14px;
  }
  .proyectosTitle{
    font-size: 10px;
  }


.titleAlianza{
  font-size: 30px;
}

.subTitleAlianza{
  font-size: 20px;
}
  
.imgContainer img{
  width: 300px;
    }

  .ferimgcontacto{
    width: 350px;
  }
  .navbar-brand {
    font-size:20px;
  }
  .titleHeroText {
    font-size: 25px;
  }
  .subtitleHeroText {
    font-size: 16px;
  }
  .heroTextContainer {
    width: 90%;
  }
  .biografia h2 {
    font-size: 22px;
  }
  .biografia h4 {
    font-size: 16px;
  }
  .logoContainer i {
    position: relative;
    top: 0px;
    padding: 0px;
  }
  .Title {
    justify-content: center;
    align-items: ;
    font-size: 18px;
    border: none;
    border-bottom: 1px;
  }
  .logoycontenido p {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  .sliderTitle h2 {
    font-size: 22px;
  }
  .imgfixed {
    height: 100vh;
    background-position: 50%;
  }
  .heroTextContainer {
    width: 70%;
    margin-top: 50px;
  }
  .imgHero{
    width:120px;
    margin-left: 0px;
  }
  .imgHero2{
    width:120px;
    margin-left: 0px;
  }
  
}

.videoPropuestasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoPropuestasContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.fixedWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 10px;
  height: auto;
}

.fixedWhatsapp img {
  width: 40px;
  height: auto;
}




@media (max-width: 500px){

 .imgHero2{
  display: none;
 }

  .nav-link{
    font-size: 10px;
  }
  .fixedWhatsapp img{
    width: 20px;

  }
  .imgfixed {
    height: 100vh;
    background-position: 52%;
  }

 
}



@media (min-width: 500px){

  .heroImgRs{
    display: none;
  }
}
