.mainContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  background: black;
}

.grid {
  flex: 1;
  min-width: 200px;
}


.imgHeroContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  }
  .imgHero{
  border-radius: 30px;
  margin-bottom: 10px;
  width: 200px;
  }
  


.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid black;
  animation: aparecer 1s ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.5s ease;
}

.grid-item h1 {
  position: absolute;
  color: white;
  z-index: 10;
  opacity: 0;
  font-family: sans-serif;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.grid-item:nth-child(1) h1 {
  transform: translateX(100px);
}

.grid-item:nth-child(2) h1 {
  transform: translateX(-100px);
}

.grid-item:nth-child(3) h1 {
  transform: translateY(-100px);
}

.grid-item:nth-child(4) h1 {
  transform: translateY(100px);
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-item:hover h1 {
  transform: translateY(0);
  opacity: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}

.grid-item:nth-child(2) {
  animation-delay: 0.5s;
}
.grid-item:nth-child(3) {
  animation-delay: 1s;
}
.grid-item:nth-child(4) {
  animation-delay: 1.5s;
}
.grid-item:nth-child(5) {
  animation-delay: 2s;
}
.grid-item:nth-child(6) {
  animation-delay: 2.5s;
}
.grid-item:nth-child(7) {
  animation-delay: 3s;
}
.grid-item:nth-child(8) {
  animation-delay: 3.5s;
}
.grid-item:nth-child(9) {
  animation-delay: 4s;
}
.grid-item:nth-child(10) {
  animation-delay: 4.5s;
}

.grid-item img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.5s ease;
}

.grid-item:hover img {
  transform-origin: top;
  transform: scale(1.05);
}

.socialLinks i {
  color: black;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}



.heroTextDiv{
margin-top: 500px !important;
}

.titleHeroText {
  font-size: 40px;
  font-weight: bold;
}


.linea {
  height: 10px;
  background-image: linear-gradient(
    to right,
    #ffd400 1%,
    #ffd400 12.5%,
    #fdb813 12.5%,
    #fdb813 25%,
    #f36f21 25%,
    #f36f21 37.5%,
    #ed1c24 37.5%,
    #ed1c24 50%,
    #bc1a8d 50%,
    #bc1a8d 62.5%,
    #9b2583 62.5%,
    #9b2583 75%,
    #2d2b74 75%,
    #2d2b74 87.5%,
    #33c2df 87.5%,
    #33c2df 100%
  );
}

.imgfixed {
  text-align: center;
  background-image: linear-gradient(390deg, #ffffff2a, rgba(0, 0, 0, 0.812)),
    url("../img/2.png");
  width: auto;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center;
  background-attachment: fixed;
}

@media (max-width: 450px) {
  .titleHeroText {
    font-size: 20px;
  }
}


.fixedWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 10px;
  height: auto;
}

.fixedWhatsapp img {
  width: 40px;
  height: auto;
}

